body {
  margin: 0;
}
header {
  width:100%;
  height: 600px;
  background-color: #343A40;
  color: white;
}
nav {
  height: 100px;
}
#logo {
  height: 100px;
  position: absolute;
  top:0;
  left:0;
}
.navlist {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.navlist li{
  height: 100px;
  width: 100px;
  line-height: 100px;
  list-style-type: none;
  padding-left:50px;
}
.navlist li a {
  text-decoration: none;
}
.navlist li a:visited {
  color: white;
}
header ul li span {
  padding-left: 50px;
}
.sns {
  position: absolute;
  top: 0;
  right:30px;
}
.sns a{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
}
.sns img{
  width: 40px;
  height: 40px;
}
#biglogo {
  margin: 0 auto;
  display: block;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin-top: 50px;
}
header p {
  font-size: 16px;
  text-align: center;
  margin-top: 120px;
}
main {
  width: 100%;
  height: 1200px;
  color: #4F4F4F;
}
#main-top h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
.cheeselists {
  display: flex;
  justify-content: center;
}
.cheese-list {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.cheese-list:last-child img {
  transform: rotate(270deg);
  width: 85px;
  height: 170px;
  margin-top: -0px;
  margin-bottom: -44px;
}
.cheese-list img {
  border-radius: 10px;
  margin-top: 40px;
}
.cheese-list h5 {
  font-size: 16px;
  margin-bottom: 0;
}
.cheese-list p {
  text-align: justify;
  font-size: 14px;
}
#main-top h4:last-child {
  margin: 50px 0;
}
section img {
  border-radius: 30px;
  width: 500px;
  display: block;
  margin: 0 auto;
}
section {
  display: flex;
  margin: 50px;
}
.text {
  margin: 0 40px;
  width: 700px;
}
.contact {
  display: flex;
  justify-content: space-around;
}
#contact-form {
  width: 600px;
}
#contact-form h3 {
  font-size: 30px;
}
#contact-form p {
  font-size: 16px;
  display: inline-block;
}
#text {
  width: 550px;
  height: 60px;
}
.input {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
#email, #name, .btn {
  width: 150px;
}
.btn {
  position: relative;
}
#btn {
  height: 60px;
  width: 100px;
  border: 1px solid black;
  box-shadow: 2px 2px rgb(120, 124, 113);
  background-color: rgb(187, 161, 161);
  position: absolute;
}
#btn:active {
  top: 2px;
  left: 2px;
  box-shadow: none;
}
#contact-form p:last-child {
  margin-left: 25px;
  font-weight: bold;
}
#map {
  margin-top: 25px;
  width: 700px;
}
#map h4 {
  line-height: 2;
  margin: 0;
}
#map img {
  border: 1px solid black;
  width: 700px;
  height: 400px;
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
  height: 90px;
}
footer hr {
  width: 20%;
}
footer p {
  font-size: 12px;
  margin: 5px 0;
}
footer p:first-of-type {
  font-size: 10px;
}
footer p:last-of-type {
  font-size: 14px;
}