body {
  margin: 0;
}
header {
  width:100%;
  height: 600px;
  background-color: #343A40;
  color: white;
}
nav {
  height: 100px;
}
#logo {
  height: 100px;
  position: absolute;
  top:0;
  left:0;
}
.navlist {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.navlist li {
  height: 100px;
  line-height: 100px;
  list-style-type: none;
  margin-left:50px;
}
header ul li span {
  padding-left: 50px;
}
.sns {
  position: absolute;
  top: 0;
  right:30px;
}
.sns a{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
}
.sns img{
  width: 40px;
  height: 40px;
}
#biglogo {
  margin: 0 auto;
  display: block;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin-top: 50px;
}

header p {
  font-size: 16px;
  text-align: center;
  margin-top: 120px;
}