body {
  margin: 0;
}
header {
  width:100%;
  height: 600px;
  background-color: #343A40;
  color: white;
}
nav {
  height: 80px;
}
#logo {
  height: 80px;
  position: absolute;
  top:0;
  left:0;
}
.navlist {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.navlist li {
  list-style-type: none;
  margin:20px;
}
header ul li span {
  padding-left: 50px;
}
.sns {
  position: absolute;
  top: 0;
  right:30px;
}
.sns li img{
  height: 40px;
  width: 40px;
}
.sns li {
  padding-left: 15px;
  display: inline;
}
#biglogo {
  margin: 0 auto;
  display: block;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  /* object-fit: cover; */
  
}